<div class="header">
    <div class="logo logo-dark">
        <a href="">
            <img class="logo-size" src="assets/images/logo/FMC-logo.GIF" alt="Logo">

        </a>
    </div>

    <div class="nav-wrap">
        <ul class="nav-left">
            <li class="desktop-toggle">
                <a (click)="toggleFold()">
                    <i nz-icon [nzType]="isFolded? 'menu-unfold':'menu-fold'" theme="outline"></i>
                </a>
            </li>
            <li class="mobile-toggle">
                <a (click)="toggleExpand()">
                    <i nz-icon [nzType]="isExpand? 'menu-fold': 'menu-unfold'" theme="outline"></i>
                </a>
            </li>
            <li>
                <!-- <a (click)="searchToggle()">
                    <i nz-icon nzType="search" theme="outline"></i>
                </a> -->
                <!-- <nz-drawer [nzWidth]="380" nzTitle="Search" [nzVisible]="searchVisible" nzPlacement="left" (nzOnClose)="searchToggle()">
                    <app-search></app-search>
                </nz-drawer> -->
        </ul>
        <ul class="nav-right">
            <li>
                <h3 style="margin-bottom: 0">
                    Safety Data Sheet (SDS) Viewer
                </h3>
            </li>
        </ul>
        <ul class="nav-right">

            <li>
                <span class="p-h-10 pointer" nz-dropdown [nzDropdownMenu]="profile" [nzTrigger]="'click'"
                    [nzPlacement]="'bottomRight'">
                    <a>{{defaultLanguage}}</a>  <i nz-icon nzType="caret-down" nzTheme="outline" style="font-size: 10px; color: #08c;"></i>
                </span>
                <nz-dropdown-menu #profile="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item *ngFor="let item of locales">
                            <a (click)="selectLanguage(item)" class="p-v-5 d-flex align-items-center justify-content-between">
                                <div>
                                    <span class="m-l-10">{{item.text}}</span>
                                  
                                </div>
                                
                            </a>
                        </li>
                    </ul>
                </nz-dropdown-menu>
            </li>
        </ul>
    </div>
</div>