<div class="row">
    <div class="col-lg-6">
        <h4>
            Search
        </h4>
    </div>
    <div class="col-lg-6">
        <div class="text-md-right m-v-10">
            <button   nzTitle="Click this to Search" (click)="search()"  nz-tooltip nzPlacement="left" nz-button nzType="primary"><i nz-icon nzType="search"></i>Search</button>
            <nz-divider style="background: #000" nzType="vertical"></nz-divider>
            <button nzTitle="Click this to Reset" (click)="reset()"  nzPlacement="bottom" nz-tooltip   nz-button nzType="default"> <i nz-icon nzType="reload"
                    theme="outline"></i>Reset</button>
        </div>
    </div>
</div>

<nz-divider></nz-divider>

<div class="row search-screen">
    <div class="col-md-8 col-lg-12">
        <nz-card>

            <div class="row">
                <div class="col-md-2">
                    <span>FMC Business</span>

                </div>
                <div class="col-md-4">
                    <nz-select style="width: 100%;" nzSize="small" nzShowSearch nzAllowClear [(ngModel)]="searchModel.FMCBusiness"
                        nzPlaceHolder="Select a Business">
                        <nz-option *ngFor="let option of fmcBusiness" [nzLabel]="option.text" [nzValue]="option.value">
                        </nz-option>
                    </nz-select>


                </div>
                <div class="col-md-2">
                    <span>Format</span>

                </div>
                <div class="col-md-4">
                    <nz-select style="width: 100%;" nzSize="small" nzShowSearch nzAllowClear [(ngModel)]="searchModel.FileFormat"
                        nzPlaceHolder="Select a Format">
                        <nz-option *ngFor="let option of formats" [nzLabel]="option.text" [nzValue]="option.value">
                        </nz-option>
                    </nz-select>

                </div>
            </div>
            <nz-divider></nz-divider>
            <div class="row">
                <div class="col-md-2">
                    <span>Language</span>

                </div>
                <div class="col-md-4">
                    <nz-select style="width: 100%;" nzSize="small" nzShowSearch nzAllowClear [(ngModel)]="searchModel.Language"
                        nzPlaceHolder="Select a Language">
                        <nz-option *ngFor="let option of languages" [nzLabel]="option.text" [nzValue]="option.value">
                        </nz-option>
                    </nz-select>

                </div>
                <div class="col-md-2">
                    <span>Sub Format</span>


                </div>
                <div class="col-md-4">
                    <nz-select style="width: 100%;" nzSize="small" nzShowSearch nzAllowClear [(ngModel)]="searchModel.WercsSubFormat"
                        nzPlaceHolder="Select a Sub Format">
                        <nz-option *ngFor="let option of subFormats" [nzLabel]="option.text" [nzValue]="option.value">
                        </nz-option>
                    </nz-select>

                </div>
            </div>




        </nz-card>
    </div>
    <div class="col-md-8 col-lg-12">
        <nz-card>
            <div class="row">
                <div class="col-lg-12">
                    <h5>Search By</h5>
                </div>
                <div class="col-lg-12">
                    <div class="media align-items-center">
                        <nz-radio-group  [(ngModel)]="searchModel.SelectedDateType" (ngModelChange)="onDateTypeChange($event)" >
                            <label nz-radio nzValue="A">Revision Date</label>
                            <label nz-radio nzValue="B">Published Date</label>

                        </nz-radio-group>
                    </div>
                </div>
                <nz-divider></nz-divider>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-1">
                                    <span>
                                        Date
                                    </span>

                                </div>
                                <div class="col-lg-3">
                                    <nz-select [nzDisabled] = "isDaysOptionSelected" style="width: 100%;" nzSize="small" (ngModelChange)="onConditionChange($event)" nzShowSearch [(ngModel)]="searchModel.PublishDateFilter.FilterType"
                                        nzPlaceHolder="Select Condition">
                                        <nz-option nzLabel="Equals" nzValue="Equals"></nz-option>
                                        <nz-option nzLabel="Greater Than Equal To" nzValue="GreaterThanEqualsTo">
                                        </nz-option>
                                        <nz-option nzLabel="Less Than" nzValue="LessThan"></nz-option>
                                        <nz-option nzLabel="Range" nzValue="Range"></nz-option>
                                    </nz-select>
                                </div>
                                <div class="col-lg-8">
                                    <nz-date-picker [nzDisabled] = "isDaysOptionSelected" *ngIf="!showRangeFilter" nzSize="small" [(ngModel)]="searchModel.PublishDateFilter.StartDate"
                                        [nzFormat]="dateFormat" (ngModelChange)="onChange($event)"></nz-date-picker>
                                    <nz-range-picker [nzDisabled] = "isDaysOptionSelected" *ngIf="showRangeFilter" nzSize="default" [(ngModel)]="searchModel.PublishDateFilter.StartDate"
                                        [nzFormat]="dateFormat" (ngModelChange)="onChange($event)"></nz-range-picker>
                                </div>
                            </div>
                        </div>
                        <nz-divider></nz-divider>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label (ngModelChange) = "onDaysOptionClicked($event)" [(ngModel)]="isDaysOptionSelected" nz-checkbox > Date in Last</label>
                                    <nz-input-number [nzSize]="'small'" [nzStep]="1"></nz-input-number>
                                    <label> Days</label>
                                </div>
                                <div class="col-lg-8">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nz-card>
    </div>
    <div class="col-md-8 col-lg-12">
        <nz-card>
            <div class="row">
                <div class="col-lg-12">
                    <h5>Product Options</h5>
                    <nz-divider></nz-divider>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-lg-12">
                                    Specification ID
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input nz-input placeholder="Enter Spec Id" nzSize="small" [(ngModel)]="searchModel.SpecificationID">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-lg-12">
                                    Product Name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input nz-input placeholder="Enter Product Name" nzSize="small"  [(ngModel)]="searchModel.ProductName">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-lg-12">
                                    Condition
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <nz-select style="width: 100%;" nzSize="small" nzShowSearch
                                        nzPlaceHolder="Select Condition" [(ngModel)]="selectedValue">
                                        <nz-option nzLabel="Starts With" nzValue="StartWith"></nz-option>
                                        <nz-option nzLabel="Containing" nzValue="GreaterThanEqualsTo">
                                        </nz-option>
                                        <nz-option nzLabel="Exact" nzValue="Exact"></nz-option>

                                    </nz-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-lg-12">
                                    CAS Number
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input nz-input placeholder="Enter CAS" nzSize="small" [(ngModel)]="searchModel.CasNumber">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-lg-12">
                                    Chemical Name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input nz-input placeholder="Enter Chemical Name" nzSize="small" [(ngModel)]="searchModel.ChemicalName">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-lg-12">
                                    Common Name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input nz-input placeholder="Enter Common Name" nzSize="small" [(ngModel)]="searchModel.CommonName">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nz-divider></nz-divider>
            <div class="row">
                <div class="col-lg-12">

                    <div class="row">
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-lg-12">
                                    Trade Name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input nz-input placeholder="Enter Trade Name" nzSize="small" [(ngModel)]="searchModel.TradeName">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-lg-12">
                                    Commercial Name(s)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input nz-input placeholder="Enter Commercial Names" nzSize="small" [(ngModel)]="searchModel.CommercialNames">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-lg-12">
                                    IUPAC
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input nz-input placeholder="Enter IUPAC" nzSize="small" [(ngModel)]="searchModel.IUPAC">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-lg-12">
                                    IN Code
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input nz-input placeholder="Enter IN Code" nzSize="small" [(ngModel)]="searchModel.INCODE">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-lg-12">
                                    CAS MAIN
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input nz-input placeholder="Enter CAS MAIN" nzSize="small">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-lg-12">
                                    CMR
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input nz-input placeholder="Enter CMR" nzSize="small">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nz-card>
    </div>

</div>